<h3>Product Search</h3>
<form #psf="ngForm">
    <div class="mb-3">
        <label for="productSearch">Product Search</label>
        <input type="text" id="productSearch" name="productSearch" class="form-control mb-3" required [(ngModel)]="searchTerm">
        <input type="submit" (click)="filterProducts(searchTerm)" value="Search" class="btn btn-primary" [disabled]="psf.invalid"> |
        <input type="reset" (click)="filterProducts('')" value="Clear Search" class="btn btn-danger">
    </div>

</form>

<hr>
<h3>Kitchen Story - Products</h3>
<div class="card-group">
    <div *ngFor="let product of products">
        <div class="card" style="width: 18rem;">
            <!-- <img src={{product.imgPath}} class="card-img-top" alt={{product.imgPath}}> -->
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text">${{product.price}}</p>
                <a (click)="addProductToCart(product.id)" class='btn btn-primary'>Add to Cart</a>
            </div>
        </div>
    </div>
</div>