<h3>Admin</h3>

<p>Change Password</p>


<form #pwf="ngForm">
    <!-- <div>
        <input type="text" name="name" placeholder="User Name" class="form-control" [(ngModel)]="user.username" required>
    </div> -->
    <div>
        <input type="password" name="password" placeholder="Password" class="form-control mb-1" [(ngModel)]="admin.password"
            required minlength="5" #password="ngModel">
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.required">Password cannot be blank</div>
                <div *ngIf="password.errors?.minlength">Password must be atleast 5 characters</div>
            </div>
    </div>
    <div>
        <input type="submit" value="Change Password" (click)="changePassword()" class="btn btn-secondary">
    </div>
</form>
<hr>
<app-product></app-product>


