<h3>Product Management</h3>
<a routerLink="product-add" class='btn btn-primary'>Add New Product</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <!-- <th>Image Filename</th> -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <!-- <td>{{product.imgPath.split("/")[1]}}</td> -->
            <td><a (click)="removeProduct(product.id)" class='btn btn-danger'>Delete</a></td>
        </tr>
    </tbody>
</table>